{% extends "reserve/layout.html" %}

{% load static %}

{% load humanize %}

{% block body %}
<h1>{{ hotel.name }} 
    
    <a href="#a" onclick="favorite({{hotel.id}});" id="fav_hotel{{hotel.id}}"> 
        {% if favorite %}
        <img src='/static/reserve/like.png' height='45px' %}> 
        {% else %}
        <img src='/static/reserve/unlike.png' height='45px' %}> 
        {% endif %}
    </a>
</h1>

<h5>{{ hotel.address }}</h5>
<div class="list-group">
    {% for room in rooms %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <h4>{{ room.name }} | ${{ room.price|floatformat:2}}</h4>
        <p>{{ room.description }}</p>
        <input type="button" onclick="window.location.href='/reserve/{{ room.id }}'" class="btn btn-primary" value="Reserve">
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'reserve/reserve.js' %}"></script>
{% endblock %}